.table{
	position:absolute;
	left:25%;
	top:40%;
	width:50%;	
}
table,td,th{
	padding:10px;
	border-collapse:collapse;
	text-align:center; 
	border:3px solid #add9c0; 
	border-width:2px 2px 2px 2px; 
	cell-spaceing:10px;
}